## Первый сет (диэдральный угол)
L/89/G P/93/V L/125/S C/146/G A/217/F I/224/Q 
L/89/Y P/93/M L/125/F C/146/A M/147/C A/217/N
L/89/Y P/93/M L/125/F C/146/G A/217/N I/224/N
T/48/N Y/81/N Y/85/M L/89/V A/217/F L/225/Q   
T/48/I Y/81/G Y/85/F L/89/C C/146/Y A/217/M
L/89/Y P/93/M L/125/F C/146/F M/147/I A/217/N
Y/85/V L/89/Y P/93/V A/128/T C/146/S A/217/M
M/22/P T/92/P I/126/S L/154/N V/180/N L/183/I
A/86/P A/118/Y W/140/S L/190/C T/195/M V/219/L
G/25/I G/53/A L/89/Y I/121/L A/217/L L/225/P
L/89/F P/93/V L/94/V L/125/C A/217/F I/224/G
Y/82/M A/86/G T/92/P L/95/I L/190/T G/194/M
T/48/N Y/81/G Y/85/M L/89/V P/93/F A/217/F
M/22/S T/92/P I/126/M S/138/M L/154/V V/180/G
G/25/I G/53/F L/89/S I/121/L A/217/F L/225/Y
L/23/S T/48/S Y/81/S Y/85/M V/122/L A/217/M
G/25/I G/53/V L/89/S I/121/L A/217/Q L/225/Y
T/48/Y Y/81/V Y/85/M L/89/N A/217/F G/222/M
T/48/L Y/81/G Y/85/C L/89/V C/146/M A/217/F
L/89/C P/93/V L/125/F C/146/G A/217/I I/224/P

## Второй сет (разница pKa)
M/22/Q F/27/I Y/59/F L/95/S L/97/A T/216/G    
M/22/Q F/27/T Y/59/F L/95/S L/97/A T/216/G
M/22/Q L/23/G F/27/V Y/59/F L/95/T T/216/I
M/22/Q I/24/N F/27/T Y/59/F L/95/T T/216/I
M/22/Q I/24/Y F/27/A Y/59/F L/95/S T/216/Y
M/22/Q F/27/Y Y/45/L Y/59/F L/95/T T/216/I
M/22/Q I/24/G F/27/A Y/59/F L/95/S T/216/F
M/22/Q I/24/G F/27/M Y/59/F L/95/S T/216/L
M/22/Q F/27/Y Y/59/F L/95/T T/216/I
M/22/Q Y/59/F L/95/T L/97/T T/216/I
M/22/Q I/24/G F/27/A Y/59/F L/95/S T/216/L
M/22/Q I/24/C F/27/T Y/59/F L/95/T T/216/I
M/22/Q F/27/T Y/59/F L/95/T W/184/L T/216/I
M/22/Q F/27/I Y/45/L Y/59/F L/95/T T/216/I
M/22/Q F/27/Y Y/59/F L/95/T L/97/S T/216/I
M/22/Q F/27/A Y/59/F L/95/T V/122/T T/216/I
M/22/Q F/27/Y V/47/M Y/59/F L/95/T T/216/I
M/22/Q F/27/Y V/47/P Y/59/F L/95/T T/216/I
M/22/Q F/27/G Y/59/F L/95/S L/97/P T/216/I
M/22/Q F/27/G Y/59/F L/95/S L/97/A T/216/G

## Третий сет (диэдральный + pKa)
M/22/Q T/48/M D/79/G T/91/P L/94/C S/138/Y
M/22/Q T/48/Q D/79/G T/91/P S/138/N C/146/M
M/22/Q T/48/Q D/79/F T/91/P T/123/N S/138/P
M/22/Q T/48/F T/91/G S/138/M C/146/Q G/222/S
M/22/Q T/48/Q D/79/G T/91/P S/138/C C/146/M
M/22/Q T/48/Q D/79/G T/91/P S/138/Y C/146/T
M/22/Q T/48/Q Y/81/A S/138/G C/146/M G/222/N
M/22/Q T/48/Q D/79/G T/91/P S/138/P C/146/G
M/22/Q T/26/Y Y/45/T M/62/G L/179/T G/220/N
M/22/Q T/48/Q D/79/G F/90/A T/91/P S/138/T
M/22/Q T/48/Q T/91/P S/138/T C/146/F G/222/N
M/22/Q T/48/Q D/79/G T/91/P S/138/P C/146/S
M/22/Q T/48/F P/52/F C/146/F A/186/F G/222/M
M/22/Q T/48/Q T/91/P S/138/P C/146/I G/222/F
M/22/Q T/48/Q T/91/P S/138/P C/146/S G/222/N
M/22/Q T/48/Q D/79/T T/91/P C/146/L V/150/F
M/22/Q T/48/Q T/91/P S/138/N C/146/M G/222/N
M/22/Q T/48/N D/79/G T/91/P S/138/Y C/146/Q
M/22/Q T/48/Q D/79/G T/91/P S/138/A C/146/P
M/22/Q T/48/Q T/91/P S/138/V V/180/M G/222/N

## Четвертый сет (диэдральный + pKa)
M/22/S Y/59/M Y/85/N L/176/G T/216/Q L/225/T
M/22/S Y/59/M Y/85/C L/176/V T/216/P L/225/S
M/22/S Y/59/M Y/85/V L/176/T T/216/I L/225/S
M/22/S Y/59/M Y/85/G L/176/I T/185/G T/216/Q
L/95/N A/118/L L/119/S L/209/N F/210/V A/217/F
M/22/S Y/59/M Y/85/C L/176/F T/216/I L/225/A
M/22/S L/23/P Y/59/M Y/85/V L/176/G T/216/I
A/118/M L/119/M I/148/L P/188/N F/210/A A/217/F
M/22/S Y/59/M Y/85/N L/154/A T/216/Q L/225/C
M/22/S Y/59/M Y/85/C T/216/I I/224/N L/225/G
M/22/S Y/59/M T/144/M L/176/I T/185/L T/216/V
M/22/S Y/59/M Y/85/N L/176/S T/216/A L/225/T
M/22/S Y/59/M Y/85/V L/176/Y T/216/Q L/225/C
M/22/S Y/59/M Y/85/V L/176/Q T/216/I L/225/I
M/22/S Y/59/M Y/85/C L/176/P T/216/I L/225/A
M/22/S Y/59/M Y/85/V A/118/F L/176/F T/216/I
M/22/S Y/59/M Y/85/C L/176/G T/216/Q L/225/S
M/22/S Y/59/M Y/85/V L/176/V T/216/Q L/225/T
M/22/S Y/59/M Y/85/V L/176/F T/216/P L/225/N
M/22/S Y/59/M Y/85/S L/154/T T/216/Q L/225/C

In [43]:
import networkx as nx

G_wt_atom    = nx.read_graphml(f"../data/graphs/wt/atoms.graphml")
G_wt_residues = nx.read_graphml(f"../data/graphs/wt/residues.graphml")

In [44]:
G2_atoms    = nx.read_graphml(f"../data/graphs/mut2_qm/atoms.graphml")
G2_residues = nx.read_graphml(f"../data/graphs/mut2_qm/residues.graphml")

In [45]:
def hydrogen_edges(G):
    return {
        tuple(sorted((u, v)))
        for u, v, attrs in G.edges(data=True)
        if attrs.get("kind") == "hydrogen"
    }

h1 = hydrogen_edges(G_wt_atom)
h2 = hydrogen_edges(G2_atoms)

#print("Lost:",   h1 - h2)
#print("Gained:", h2 - h1)
#print("Same:",   h1 & h2)

In [46]:
# --- Your existing logic ---
h1 = hydrogen_edges(G_wt_residues)
h2 = hydrogen_edges(G2_residues)

lost_bonds = h1 - h2
gained_bonds = h2 - h1
#conserved_bonds = h1 & h2
conserved_bonds = []

# --- Call the function with the residue ID constraint ---
#display_bond_comparison(lost_bonds, gained_bonds, conserved_bonds, max_resi=240)

In [47]:
import networkx as nx
import pandas as pd
from typing import List, Tuple, Dict

def compare_residue_graphs(
    G_wt: nx.Graph,
    G_mut: nx.Graph
) -> pd.DataFrame:
    """
    Compare the wild-type and mutant residue graphs.
    Returns a DataFrame with columns:
      res1, res2, kind, status
    where status ∈ {"conserved","lost","gained"}.
    """
    # Extract labeled edges as (u,v,kind)
    def labeled_edges(G):
        return {(min(u,v), max(u,v), G[u][v]['kind']) for u,v in G.edges()}
    
    edges_wt = labeled_edges(G_wt)
    edges_mut = labeled_edges(G_mut)
    
    conserved = edges_wt & edges_mut
    lost = edges_wt - edges_mut
    gained = edges_mut - edges_wt
    
    records = []
    for u,v,kind in conserved:
        records.append((int(u), int(v), kind, 'conserved'))
    for u,v,kind in lost:
        records.append((int(u), int(v), kind, 'lost'))
    for u,v,kind in gained:
        records.append((int(u), int(v), kind, 'gained'))
    
    df = pd.DataFrame(records, columns=['res_id1','res_id2','kind','status'])
    return df

def hydrogen_edges_for_residue(
    G_res: nx.Graph,
    residue: str
) -> List[Tuple[str,str]]:
    """
    Return all hydrogen-bond edges adjacent to a given residue.
    Each edge returned as (residue, neighbor).
    """
    edges = []
    for nbr in G_res.neighbors(residue):
        data = G_res[residue][nbr]
        if data.get('kind') == 'hydrogen':
            edges.append((residue, nbr))
    return edges

def shortest_hydrogen_path(
    G_res: nx.Graph,
    start: str,
    end: str
) -> List[str]:
    """
    Compute the shortest path between two residues using only hydrogen bonds.
    Returns a list of residues along the path (including start and end).
    Raises NetworkXNoPath if none exists.
    """
    # Create subgraph of hydrogen edges only
    H = nx.Graph(((u,v) for u,v,d in G_res.edges(data=True) if d.get('kind')=='hydrogen'))
    path = nx.shortest_path(H, source=start, target=end)
    return path

# 2. Compare graphs
# df_comparison = compare_residue_graphs(G_wt, G_mut)
# print(df_comparison)

# 3. Hydrogen edges for residue 'A10' in mutant
# h_edges = hydrogen_edges_for_residue(G_mut, 'A10')
# print(h_edges)

# 4. Shortest hydrogen‐bond path from 'A10' to 'C50'
# try:
#     path = shortest_hydrogen_path(G_mut, 'A10', 'C50')
#     print("Shortest H-bond path:", path)
# except nx.NetworkXNoPath:
#     print("No hydrogen-bond path exists between A10 and C50.")

In [48]:
df_comparison = compare_residue_graphs(G_wt_residues, G2_residues)
df_comparison.head(10)

   res_id1  res_id2      kind     status
0      189      193  hydrogen  conserved
1      236       40  hydrogen  conserved
2      197      504  hydrogen  conserved
3      200      203  hydrogen  conserved
4      216      221  hydrogen  conserved
5      173      177  hydrogen  conserved
6      203      206  hydrogen  conserved
7        4        5  hydrogen  conserved
8       39       41  hydrogen  conserved
9       48       52  hydrogen  conserved

In [49]:
filtered_df = df_comparison[
    (df_comparison['status'] == 'lost') & 
    ((df_comparison['res_id1'] <= 240) & (df_comparison['res_id2'] <= 240))
]
filtered_df

     res_id1  res_id2      kind status
259      215       89  hydrogen   lost
269      197       86  hydrogen   lost
270       92       95  hydrogen   lost
279      204      207  hydrogen   lost
287       49       52  hydrogen   lost
291       12       82  hydrogen   lost
304      219       88  hydrogen   lost
305       13        3  hydrogen   lost
306       66       68  hydrogen   lost
311       10       82  hydrogen   lost
329       45       99  hydrogen   lost

In [50]:
filtered_df = df_comparison[
    (df_comparison['status'] == 'gained') & 
    ((df_comparison['res_id1'] <= 240) & (df_comparison['res_id2'] <= 240))
]
filtered_df

     res_id1  res_id2      kind  status
342      165      166  hydrogen  gained
343        8        9  hydrogen  gained
348      199      201  hydrogen  gained
349       88       88  hydrogen  gained
359      238      240  hydrogen  gained
374      201      203  hydrogen  gained
383      159      162  hydrogen  gained
384      235       40  hydrogen  gained
399       38       38  hydrogen  gained
402      215      220  hydrogen  gained
406      105      237  hydrogen  gained
409       13        4  hydrogen  gained
412      163      165  hydrogen  gained
414      122      125  hydrogen  gained
416       37       43  hydrogen  gained
417      101      105  hydrogen  gained
423       40       41  hydrogen  gained
425       40       43  hydrogen  gained
427      162      164  hydrogen  gained
430       76       77  hydrogen  gained

In [51]:
h_edges = hydrogen_edges_for_residue(G_wt_residues, '219')
print(h_edges)

[('219', '88'), ('219', '215'), ('219', '216'), ('219', '503')]

In [58]:
try:
    path = shortest_hydrogen_path(G_wt_residues, '88', '219')
    print("Shortest H-bond path:", path)
except nx.NetworkXNoPath:
    print("No hydrogen-bond path exists between 88 and 219.")

Shortest H-bond path: ['88', '219']

# Напишем проверку водородных связей для списка мутаций в одном мутанте

In [53]:
mutant_name = """
L/89/G P/93/V L/125/S C/146/G A/217/F I/224/Q
"""

In [54]:
mutants = mutant_name.split()
mutants

['L/89/G', 'P/93/V', 'L/125/S', 'C/146/G', 'A/217/F', 'I/224/Q']

In [59]:
aa_sites = [site.split('/')[1] for site in mutants]
aa_sites

['89', '93', '125', '146', '217', '224']

Кратчайшие пути до 219, 207, 215

In [63]:
for site in aa_sites:
    try:
        path = shortest_hydrogen_path(G_wt_residues, site, '219')
        print(f"Shortest H-bond path between {site} and 219:", path)
    except nx.NetworkXNoPath:
        print(f"No hydrogen-bond path exists between {site} and 219.")

Shortest H-bond path between 89 and 219: ['89', '215', '219']
Shortest H-bond path between 93 and 219: ['93', '89', '215', '219']
Shortest H-bond path between 125 and 219: ['125', '129', '137', '197', '207', '211', '215', '219']
Shortest H-bond path between 146 and 219: ['146', '142', '138', '198', '195', '192', '188', '215', '219']
Shortest H-bond path between 217 and 219: ['217', '213', '209', '212', '216', '219']
Shortest H-bond path between 224 and 219: ['224', '220', '216', '219']

In [64]:
for site in aa_sites:
    try:
        path = shortest_hydrogen_path(G_wt_residues, site, '207')
        print(f"Shortest H-bond path between {site} and 207:", path)
    except nx.NetworkXNoPath:
        print(f"No hydrogen-bond path exists between {site} and 207.")

Shortest H-bond path between 89 and 207: ['89', '85', '504', '207']
Shortest H-bond path between 93 and 207: ['93', '89', '85', '504', '207']
Shortest H-bond path between 125 and 207: ['125', '129', '137', '197', '207']
Shortest H-bond path between 146 and 207: ['146', '142', '138', '198', '195', '200', '203', '207']
Shortest H-bond path between 217 and 207: ['217', '213', '209', '212', '208', '204', '207']
Shortest H-bond path between 224 and 207: ['224', '220', '216', '212', '208', '204', '207']

In [65]:
for site in aa_sites:
    try:
        path = shortest_hydrogen_path(G_wt_residues, site, '215')
        print(f"Shortest H-bond path between {site} and 215:", path)
    except nx.NetworkXNoPath:
        print(f"No hydrogen-bond path exists between {site} and 215.")

Shortest H-bond path between 89 and 215: ['89', '215']
Shortest H-bond path between 93 and 215: ['93', '89', '215']
Shortest H-bond path between 125 and 215: ['125', '129', '137', '197', '207', '211', '215']
Shortest H-bond path between 146 and 215: ['146', '142', '138', '198', '195', '192', '188', '215']
Shortest H-bond path between 217 and 215: ['217', '213', '209', '212', '216', '219', '215']
Shortest H-bond path between 224 and 215: ['224', '220', '216', '219', '215']

# Найдем различие в водородных связяъ для заданных мутаций + 219, 207, 215

In [77]:
filtered_df = df_comparison[
    (df_comparison['status'] == 'gained') & 
    (df_comparison['res_id1'].isin([int(s) for s in aa_sites] + [219, 207, 215]) |
     df_comparison['res_id2'].isin([int(s) for s in aa_sites] + [219, 207, 215])
    )
]
filtered_df

     res_id1  res_id2      kind  status
338      215      512  hydrogen  gained
344      207      506  hydrogen  gained
350      503       89  hydrogen  gained
389      215      507  hydrogen  gained
402      215      220  hydrogen  gained
407      219      507  hydrogen  gained
414      122      125  hydrogen  gained

In [78]:
filtered_df = df_comparison[
    (df_comparison['status'] == 'lost') & 
    (df_comparison['res_id1'].isin([int(s) for s in aa_sites] + [219, 207, 215]) |
     df_comparison['res_id2'].isin([int(s) for s in aa_sites] + [219, 207, 215])
    )
]
filtered_df

     res_id1  res_id2      kind status
259      215       89  hydrogen   lost
261      125      555  hydrogen   lost
279      204      207  hydrogen   lost
282      207      507  hydrogen   lost
299      215      503  hydrogen   lost
304      219       88  hydrogen   lost
313      215      510  hydrogen   lost
314      219      503  hydrogen   lost
333      215      502  hydrogen   lost